<template>
    <el-row v-if="display">
        <el-col>
            <el-alert :type="type" v-html="message" />
        </el-col>
    </el-row>
</template>

<script>
export default {
    watch: {
        display() {
            let vm = this;
            if (vm.display) {
                setTimeout(function() {
                    vm.$store.commit('setAlert', {message: '', type: '', display: false});
                }, 60000)
            }
        }
    },
    computed: {
        message() {
            return this.$store.alertMessage;
        },
        type() {
            return this.$store.alertType;
        },
        display() {
            return this.$store.alertDisplay;
        }
    }
}
</script>