<template>
    <el-menu :default-active="activeIndex" mode="horizontal" background-color="#409EFF">
        <nuxt-link to="/">
            <el-menu-item index="1">
                Web Search
            </el-menu-item>
        </nuxt-link>
        <nuxt-link to="/news">
            <el-menu-item index="2">
                News Search
            </el-menu-item>
        </nuxt-link>
    </el-menu>
</template>

<script>
export default {
    data() {
        return {
            activeIndex: '1'
        }
    }
}
</script>

<style scoped>
    .el-menu {
        display: flex;
        justify-content: center;
    }
    .el-menu-item, .is-active {
        color: #fff !important;
        border-bottom: 2px solid #fff !important;
    }
    a {
        text-decoration: none;
    }
</style>