<template>
    <el-row class="page-size">
        <el-col :xs="6" :sm="3">
            <el-select v-model="size">
                <el-option v-for="size in sizes" :key="size" :label="size" :value="size"></el-option>
            </el-select>
        </el-col>
    </el-row>
</template>

<script>
export default {
    data() {
        return {
            size: 10,
            sizes: [10, 20, 50, 100]
        }
    },
    watch: {
        size() {
            // $nuxt.$router.query.pageSize = this.size
            this.$store.commit('setPageSize', this.size);
        }
    },
    mounted() {
        if ($nuxt.$route.query.pageSize != undefined) {
            this.$store.commit('setPageSize', $nuxt.$route.query.pageSize);
        }

        this.size = this.$store.state.pageSize;
    }
}
</script>

<style scoped>
    .el-row, .el-select {
        width: 100%;
    }
    .page-size {
        margin-top: 10px;
    }
</style>