<template>
    <el-pagination v-if="total > 0" background layout="prev, pager, next" :total="total" @current-change="changePage">
    </el-pagination>
</template>

<script>
export default {
    props: {
        total: Number,
        page: Number
    },
    data() {
        return {
            value: 1
        }
    },
    methods: {
        changePage(page) {
            this.$emit("page-change", page)
        }
    }
}
</script>