<template>
    <el-autocomplete id="searchInput" placeholder="Search..." v-model="input" :fetch-suggestions="getAutocomplete" :trigger-on-focus="false">
        <template slot="append">
            <el-button type=primary icon="el-icon-search" @click="setTerm">Search</el-button>
        </template>
    </el-autocomplete>
</template>

<script>
import axios from 'axios';
import _ from "lodash";

export default {
    data() {
        return {
            input: '',
            results: []
        }
    },
    methods: {
        setTerm() {
            this.$store.commit('updateTerm', this.input);
            this.$store.commit('setSearch', true);
            
            if ($nuxt.$route.query.q !== this.input) {
                this.$router.push({query: {q: this.input}});
            }
        },
        getAutocomplete(queryString, cb) {
            let vm = this;

            if (vm.input != '' && vm.input === queryString) {

                axios({
                    method: 'get',
                    url: 'https://contextualwebsearch-websearch-v1.p.rapidapi.com/api/spelling/AutoComplete',
                    params: {
                        text: vm.input
                    },
                    headers: {
                        "x-rapidapi-host": "contextualwebsearch-websearch-v1.p.rapidapi.com",
                        "x-rapidapi-key": "74dd4640abmshc8d237dfbccd70dp148510jsnf47545601540"
                    }
                }).then(function(response) {
                    if (response.status === 200) {
                        _.each(response.data, function(result, idx) {
                            vm.results.push({value: result});
                        })
                        cb(vm.results);
                    }
                }).catch(function(error) {
                    vm.$store.commit('setAlert', {message: 'System Error: ' + error, type: 'danger', display: true});
                })
            }
        }
    },
    watch: {
        term() {
            this.input = this.term;
        }
    },
    computed: {
        term() {
            return this.$store.state.term;
        }

    },
    created() {
        if ($nuxt.$route.query.q !== undefined) {
            this.$store.commit('updateTerm', $nuxt.$route.query.q);
            this.$store.commit('setSearch', true);
            this.input =  $nuxt.$route.query.q
        }
    }
}
</script>

<style scoped>
    .el-autocomplete {
        width: 100%;
    }
</style>