<template>
  <el-container class="top-level">
    <el-header>
      <el-row>
        <el-col>
          <mainMenu />
        </el-col>
      </el-row>
    </el-header>
    <el-main>
      <el-row>
          <el-col :xl="{span: 14, offset: 5}" :lg="{span: 16, offset: 4}" :xs="{span: 24, offset: 0}" class="content">
            <el-row>
              <el-col :span="22" :offset="1">
                <el-row>
                  <el-col>
                    <alertMessage />
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <h1 class="title">{{ title }}</h1>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <searchInput />
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <pageSize />
                  </el-col>
                </el-row>
                <el-row>
                  <el-col class="results">
                    <nuxt />
                  </el-col>
                </el-row>
                <el-row>
                  <el-col>
                    <pageSize />
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import mainMenu from '~/components/main-menu.vue'
import searchInput from '~/components/search-input.vue'
import alertMessage from '~/components/alert-message.vue';
import pageSize from '~/components/page-size.vue';

export default {
  data() {
    return {
    }
  },
  components: {
    mainMenu,
    searchInput,
    alertMessage,
    pageSize
  },
  methods: {
  },
  computed: {
    title() {
      return this.$store.state.title;
    },
    pageSize() {
      return this.$store.state.pageSize;
    }
  }
}
</script>

<style scoped>
  .top-level {
    display: flex;
    align-content: center;
  }
  .content {
    background: #fff;
    padding: 10px;
  }
  .results {
    display: block;
  }
</style>
<style>
  body {
    background-color: #eee;
  }
  .title {
    color: #409EFF;
  }
  h3{
   color: #409EFF;
   font-weight: bold;
  }
  article {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0, 0, 0, .04)
  }
  .el-row{
    width: 100%;
  }
  .result p {
    color: #606266;
  }
</style>
