<template>
  <el-container v-if="search" direction="vertical" v-loading="loading">
    <el-row>
      <el-col>
        <el-divider></el-divider>
      </el-col>
    </el-row>
    <el-row v-if="totalResults > 0">
      <el-col>
        <article v-for="result in results" class="result">
          <a :href="result.url" target="_blank">
            <el-row type="flex" align="middle">
              <el-col :xl="6">
                <el-image :src="result.image.url"></el-image>
              </el-col>
              <el-col :xl="18" style="padding: 10px;">
                <p v-html="result.title"></p>
              </el-col>
            </el-row>
          </a>
        </article>
      </el-col>
    </el-row>
    <el-row v-else-if="totalResults == 0">
      <el-col>
        <h2>No Results Found</h2>
        <el-row v-if="related.length > 0">
          <el-col>
            <h5>Related:</h5>
            <article v-for="suggestion in related"> 
              <a :href="'/?' + endodeURI(suggestion)">{{suggestion}}</a>
            </article>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row>
      <el-col>
        <el-divider></el-divider>
      </el-col>
    </el-row>
    <el-row>
      <el-col>
        <pagination :total="totalResults" :page="pageNumber" @page-change="setPageNumber"></pagination>
      </el-col>
    </el-row>
  </el-container>
</template>

<script>
import axios from 'axios';
import pageSize from '~/components/page-size.vue';
import pagination from '~/components/pagination.vue';

export default {
  head() {
    return {
      title: 'Web Search',
      meta: [
        {hid: 'description', name: 'description', content: 'Search the web for the information that you want'}
      ]
    }
  },
  data() {
    return {
      results: {},
      pageNumber: 1,
      related: [],
      totalResults: 0,
      loading: false
    }
  },
  components: {
    pageSize,
    pagination
  },
  methods: {
    fetchResults() {
      let vm = this;
      vm.loading = true;

      axios({
          method: 'get',
          url: 'https://contextualwebsearch-websearch-v1.p.rapidapi.com/api/Search/NewsSearchAPI',
          params: {
              q: vm.term,
              pageNumber: vm.pageNumber,
              pageSize: vm.pageSize,
              autoCorrect: true,
              safeSearch: false
          },
          headers: {
              "x-rapidapi-host": "contextualwebsearch-websearch-v1.p.rapidapi.com",
              "x-rapidapi-key": "74dd4640abmshc8d237dfbccd70dp148510jsnf47545601540"
          }
      }).then(function(response) {
        let data = response.data;
        
          if (response.status === 200) {
              vm.results = data.value;
              vm.related = data.relatedSearch;
              vm.totalResults = data.totalCount;
          } else {
            vm.$store.commit('setAlert', {message: 'An error has occured! Please try again', type: 'danger', display: true});
          }

        vm.loading = false;
      }).catch(function(error) {
        vm.$store.commit('setAlert', {message: 'System Error: ' + error, type: 'danger', display: true});
        vm.loading = false;
      })

    },
    setPageNumber() {

    }
  },
  watch: {
    pageNumber() {
      this.$router.push({query: {pageNumber: this.pageNumber}});
      if (this.searched) {
        this.fetchResults();
      }
    },
    term() {
      this.fetchResults();
    },
    pageSize() {
      console.log('Page Size Changed');
      this.fetchResults();
    }
  },
  computed: {
    term() {
      return this.$store.state.term;
    },
    search() {
      return this.$store.state.search;
    },
    pageSize() {
      return this.$store.state.pageSize;
    }
  },
  created() {
    if (this.search) {
      this.fetchResults();
    }

    if (this.term != '') {
      this.$router.push({query: {q: this.term}});
    }

    this.$store.commit('setTitle', 'News Search');
  }
}
</script>

<style scoped>
  a {
    text-decoration: none;
  }
</style>